* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start bottomFixedImage */
.bottomImage {
    position: absolute;
    bottom: 20px;
    right: 5px;
    width: 200px;
    height: 110px;

    >.imgFixed {
        width: 80px;
        height: 80px;
        position: fixed;
        bottom: 30px;
        right: 31px;
        z-index: 1000;

        >img {
            width: 100%;
            height: 100%;
            border: 1px solid rgba(113, 200, 250, 0.548);
            object-fit: cover;
            border-radius: 50%;
            position: relative;
            z-index: 999;
            /* transition: all .6s ease-in-out;
            box-shadow: 4px 5px 9px 5px rgba(88, 163, 205, 0.774); */

            &:hover {
                cursor: pointer;
                transform: perspective(200px) rotate3D(0, 1, 0, 5deg);
            }
        }

        >div {
            >span {
                display: flex;
                width: 100px;
                height: 100px;
                position: relative;
                z-index: 99;
                position: fixed;
                bottom: 18px;
                right: 20px;
                filter: blur(8px);

                &:nth-of-type(1) {
                    background-image: linear-gradient(to left top, #1653ac, #114999, #0c3e87, #073575, #032b63, #002a6a, #002870, #002676, #002995, #0029b4, #0027d3, #001ff1);
                    border-radius: 7% 73% 26% 74% / 63% 92% 48% 57%;
                    animation: imgButtomAnime 7s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
                    box-shadow: 0 0 30px 4px rgba(0, 34, 82, 0.753);
                }

                &:nth-of-type(2) {
                    background: #5c258d;
                    background: -webkit-linear-gradient(to right, #5c258d, #4389a2);
                    background: linear-gradient(to right, #5c258d, #4389a2);
                    border-radius: 47% 53% 78% 22% / 100% 0% 100% 0%;

                    animation: imgButtomAnime2 7s ease-in-out alternate infinite;
                }

                &:nth-of-type(3) {


                    background-image: linear-gradient(#0061ff, rgba(113, 200, 250, 0.753), #5b37eb, #f1307e, #0061ff);
                    border-radius: 88% 12% 100% 0% / 46% 56% 44% 54%;
                    animation: imgButtomAnime3 7s linear alternate infinite;
                }
            }
        }

        >a {
            width: 40px;
            height: 40px;
            z-index: 998;
            position: fixed;
            bottom: 47px;
            right: 32px;
            transition: all 1s ease-in-out;
            border: 3px solid rgba(88, 163, 205, .774);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.616);


            >i {
                color: black;
                font-size: 20px;
            }

            &:hover {
                transform: scale(1.05);
                background-color: rgba(20, 167, 252, 0.822);
                border: 3px solid rgba(211, 206, 206, 0.548);
                filter: hue-rotate(40%) brightness(110%) contrast(120%);

                >i {
                    color: white;
                }
            }
        }
    }

    &:hover>.imgFixed>a {

        &:nth-of-type(1) {
            bottom: 10px;
            right: 113px;
        }

        &:nth-of-type(2) {
            bottom: 56px;
            right: 113px;
        }

        &:nth-of-type(3) {

            bottom: 103px;
            right: 113px;
        }
    }
}

/* end bottomFixedImage */
main {
    width: 100%;
    height: 100vh;
    background-image: url(../img/photo-1553095066-5014bc7b7f2d.jpeg);
    background-size: 100% 100%;
    animation: bg 3s ease-in-out forwards;
    position: relative;
    overflow: hidden;

    >section {
        >.car {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
            width: 100%;
            height: 100%;
            animation: car 4s ease-in-out forwards;

            >img {
                width: 100%;
                height: 100%;
            }
        }

        >div {
            >* {
                margin: 50px 0 10px 30px;
                color: #fff;
            }

            >h1 {
                font-size: 80px;
                font-weight: 800;
                animation: carName 5s ease-in-out;
            }

            >p {
                font-size: 40px;
                margin-top: 15px;
                animation: cartxt 6s ease-in-out;
            }
        }
    }

    >.btn {
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translate(-50%, -50%);

        >button {
            border: none;
            padding: 20px 70px;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;
            background: #58a3cd;
            color: #fff;
            -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);

            animation: btn 7s cubic-bezier(0.165, 0.84, 0.44, 1);


            &:hover {
                content: '';
                background: #03e9f4;
                box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
                -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
                color: #0d4870;
            }
        }
    }

}

@keyframes bg {
    10% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}

@keyframes car {
    0% {
        position: absolute;
        top: -500px;
        left: 0;
        transform: translateY(80px, 0);
        opacity: 0;
    }

    30% {
        transform: translateY(20px, 0);
        opacity: 0.5;
    }

    45% {
        transform: translateY(30px, 0);
        opacity: 0.6;
    }

    55% {
        transform: translateY(50px, 0);
        opacity: 0.7;
    }

    70% {
        transform: translateY(70px, 0);
        opacity: 0.74;
    }

    85% {
        transform: translateY(100px, 0);
        opacity: 0.8;
    }

    95% {
        transform: translateY(110px, 0);
        opacity: 0.9;
    }

    100% {
        transform: translateY(140px, 0);
        opacity: 1;
    }
}

@keyframes carName {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    80% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes cartxt {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes btn {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    80% {
        opacity: 0;
        transform: translateY(150px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes imgButtomAnime {
    30% {
        border-radius: 18% 82% 24% 76% / 66% 25% 75% 34%;
    }

    60% {
        border-radius: 182% 18% 64% 36% / 55% 77% 23% 45%;
    }

    90% {
        border-radius: 87% 13% 44% 56% / 75% 89% 11% 25%;
    }

    100% {
        border-radius: 52% 48% 61% 39% / 33% 72% 28% 67%;
    }
}

@keyframes imgButtomAnime2 {
    30% {
        border-radius: 47% 53% 67% 33% / 4% 90% 10% 96%;
    }

    60% {
        border-radius: 75% 25% 86% 14% / 75% 6% 94% 25%;
    }

    90% {
        border-radius: 45% 55% 41% 59% / 75% 0% 100% 25%;
    }

    100% {
        border-radius: 56% 44% 100% 0% / 22% 60% 40% 78%;
    }
}

@keyframes imgButtomAnime3 {
    30% {
        border-radius: 0% 100% 2% 98% / 0% 100% 0% 100%;
    }

    60% {
        border-radius: 100% 0% 100% 0% / 59% 33% 67% 41%;
    }

    90% {
        border-radius: 0% 100% 60% 40% / 0% 33% 67% 100%;
    }

    100% {
        border-radius: 41% 59% 17% 83% / 43% 20% 80% 57%;
    }
}


@media (max-width: 1300px) {
    main {
        >section>div {
            >* {
                margin-left: 10px;
            }

            >h1 {
                font-size: 60px;
                font-weight: 700;
            }

            >p {
                font-size: 23px;
            }
        }
    }
}